<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">ABOUT 청포도</div>
                <div class="subtitle">{{about.0.title}}</div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4"><img src="/static/build/img/about1.png"></div>
            <div class="col-lg-8 contents">{{about.0.text}}</div>
        </div>
    </div>
</div>