<div id="application">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">청포도 Application</div>
                <div class="subtitle">{{application.0.title|linebreaksbr}}</div>
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col-lg-4">
                <img src="/static/build/img/application-1.png">
            </div>
            <div class="col-lg-4">
                <img src="/static/build/img/application-2.png">
            </div>
            <div class="col-lg-4">
                <img src="/static/build/img/application-3.png">
            </div>
        </div>
    </div>
</div>
