<!DOCTYPE html>
<html lang="ko" ng-app="greemgrape">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>청포도</title>

    <!-- 부트스트랩 -->
    <link href="/static/build/css/library.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
<!--        <link href="/static/app/less/index.less" rel="stylesheet/less">-->

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>
    {% block frame %} {% endblock %}
<!--    <script src="/static/build/js/library.min.js"></script>-->
    <script src="/static/build/js/custom.min.js"></script>

    <!--<script>localStorage.clear();</script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.js"></script>-->

    <!--<script type="text/javascript" src="/static/app/app.js"></script>-->
    <!--<script type="text/javascript" src="/static/app/module/common.js"></script>-->
    <!--<script type="text/javascript" src="/static/app/module/controller.js"></script>-->

    <!--<script type="text/javascript" src="/static/app/controller/home/header.js"></script>-->
    <!--<script type="text/javascript" src="/static/app/controller/home/contact.js"></script>-->
    <!--<script type="text/javascript" src="/static/app/controller/home/login.js"></script>-->

    <!--<script type="text/javascript" src="/static/app/controller/dashboard/dashboard.js"></script>-->

</body>

</html>
