{% extends 'home/frame.html' %}
{% block content %}
<div id="home">
    <div class="container">
        <div class="title">
            사진, 그 이상 - 청포도
        </div>
    </div>
</div>
{% include 'home/main.html' %}
{% include 'home/about.html' %}
{% include 'home/service.html' %}
{% include 'home/vision.html' %}
{% include 'home/application.html' %}
{% include 'home/partner.html' %}
{% include 'home/team.html' %}

{% endblock %}