<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">청소년을 위한 포토도우미, 청포도</div>
                <div class="subtitle">A Complex photography Company</div>
                <div class="line"></div>
            </div>
            <div class="col-lg-12"><img class="main-img" src="/static/build/img/main-bg.jpeg"></div>

        </div>

    </div>
</div>
