<div id="partner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">청포도 Partners</div>
                <div class="subtitle">{{partner.0.title}}</div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/build/img/partner1.png">
                        
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/build/img/partner2.jpg" style="margin:50px auto;width:160px;height:160px">
                        
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/build/img/partner3.png" style="margin: 50px 25px;
    width: 200px;
    height: 160px;">
                        
                </div>
            </div>
<!--
            <div class="col-sm-4">
                <div class="team-member">
                    <div class="img-responsive img-circle" alt=""><img src="/static/build/img/partner2.jpg" ></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <div class="img-responsive img-circle" alt=""><img src="/static/build/img/partner3.png" ></div>
                </div>
            </div>
-->
        </div>
    </div>
</div>
