<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">청포도 주요사업</div>
                <div class="subtitle">{{service.0.title}}</div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-6"><img src="/static/build/img/service1.jpg"></div>
            <div class="col-lg-6 contents">
                <div class="contents-text">
                    {% for item in serviceItem %}
                    <div class="contents-title">{{forloop.counter}}. {{item.title}}</div>
                    <div class="contents-desc">: {{item.text}}</div>
                    {% endfor %}                
                </div>
            </div>
        </div>
    </div>
</div>
