<div id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">Our team</div>
                <div class="subtitle">청포도를 이끄는 청춘들을 소개합니다.</div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="team-member">
                    <img>
                </div>
                <div class="team-member-desc">
                    <span>CEO</span>
                    <span style="font-weight:bold">정현구</span>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="team-member">
                    <img>
                </div>
                <div class="team-member-desc">
                    <span>코디네이터</span>
                    <span style="font-weight:bold">이호영</span>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="team-member">
                    <img>
                </div>
                <div class="team-member-desc">
                    <span>대표</span>
                    <span style="font-weight:bold">이세민</span>
                </div>
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col-lg-6">
                <div class="contact-title">CONTACT US</div>
                <ul class="contact-desc">
                    <li>대표자 : 이세민</li>
                    <li>사업자 번호 : 사업자번호 필요</li>
                    <li>주소 : 주소 필요</li>
                    <li>Tel : 010-916-6521</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="result-title">수상실적</div>
                <ul class="result-desc">
                    {% for item in award %}
                    <li>{{item.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
