<div id="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">VISION</div>
                <div class="subtitle">{{vision.0.title}}</div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 vision">
                <div class="vision-text">
                    {% for item in visionItem %}
                    <div class="vision-title">{{item.title}}</div>
                    <div class="vision-desc" style="margin-bottom:10px">{{item.text|linebreaksbr}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8 core">
                <div class="col-lg-12 core-main">CORE VALUE</div>
                
                <div class="col-md-6 core-img"></div>
                <div class="col-md-6 core-text">
                    <div class="core-title core1">{{coreValue.0.title}}</div>
                    <div class="core-desc">{{coreValue.0.text}}</div>
                    <div class="core-title core2">{{coreValue.1.title}}</div>
                    <div class="core-desc">{{coreValue.1.text}}</div>
                    <div class="core-title core3">{{coreValue.2.title}}</div>
                    <div class="core-desc">{{coreValue.2.text}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
