#about {
    padding: 100px 0;
    background-color:#F6F6F6;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: #20A139;
        text-align: center;
    }
    .subtitle{
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 700;
        padding-left:10px;
        color: #9A9A9A;
        text-align: center;
    }
    .contents {
        margin-top: 40px;
        margin-bottom: 40px;
        text-transform: none;
        font-size:20px;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        letter-spacing: 3px;
    }
    img {
        width:70%
    }
}
