//#footer {
//    padding: 25px 0;
//    text-align: center;
//    span.copyright {
//    text-transform: none;
//    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
//    line-height: 40px;}
//    a {
//        color:@brandcolor;
//    }
//    a:hover {
//        color:@hovercolor;
//    }
//}

#footer {
  padding: 25px 0;
  text-align: center;
}
#footer span.copyright {
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
}
#footer a {
  color: #FE9436;
}
#footer a:hover {
  color: #FD7700;
}