#header {
    nav {
        padding: 0;
        background: transparent;
        border-color: transparent;
        float:right;
    }
    .navbar-brand {
        color: #FE9436;
    }
    ul li a {
        border-bottom: 0 none;
        border-radius: 0;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        height: 90px;
        line-height: 70px;
        margin-left: 0;
        margin-right: 0;
        outline: medium none;
        padding: 10px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out 0s;
        color: black;
    }
    ul li a:hover {
        color: #FE9436;
    }
    ul .active a {
        border-radius: 6px;
        background-color: #FE9436;
    }
    ul .active a:hover {
        color: white;
        background-color: #FD7700;
    }
    .navbar-shrink {
        background-color: white;
    }
}
