#home {
    background-attachment: scroll;
    background-image: url(/static/build/img/home-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-color: rgb(0,0,0,5);
    color: white;
    text-align: center;
    margin-top:90px;
    height:800px;
    opacity:0.8;
    .title{
        font-size:40px;
        color:black;
    }
}
