#partner {
    padding: 100px 0;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: #20A139;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
                margin-bottom: 70px;

    }
    .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .team-member {
        margin:0 auto;
        border-radius: 50%;
        max-width: 250px;
        height: 250px;
        margin-bottom: 50px;
        text-align: center;
        border: 1px solid white;
        box-shadow: 2px 2px #9A9A9A;
        img {
            margin: 25px;
            width:200px;
            height:200px;
        }
        h4 {
            margin-top: 25px;
            margin-bottom: 0;
            text-transform: none;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            line-height: 1.75;
        }
    }
}
