#service {
    padding: 100px 0;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: #20A139;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
        margin-bottom: 70px;

    }
     .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin-bottom: 75px;
    }
    .contents {
        
        background: url("/static/build/img/service-bg.jpg") no-repeat center;
        background-size: 100%;
        display: table;
        padding:0px;
        .contents-text {
            padding:30px;
            display: table-cell;
            vertical-align: middle;
            background-color: rgba( 255, 255, 255, 0.7);
        }
        .contents-title {
            text-transform: none;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            text-align: left;
        }
        .contents-desc {
            margin-bottom: 20px;
            text-transform: none;
            font-size: 17px;
            line-height: normal;
            text-align: left;
        }
    }
    img {
        margin-top:40px;
        width: 100%;
    }
}
