#team {
    padding: 100px 0;
    background-color: #F6F6F6;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: #20A139;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
        margin-bottom: 70px;
    }
    .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    
    .team-member {
        margin:0 auto;
        border-radius: 50%;
        max-width: 250px;
        height: 250px;
        margin-bottom: 50px;
        text-align: center;
        border: 1px solid white;
        img {
            margin: 25px;
            width:150px;
            height:150px;
        }
    }
    .team-member-desc{
        font-size:25px;
    }
    
    .contact-title {
        font-size: 25px;
        font-weight: bold;
        color: #20A139;
        text-align: left;
        margin-bottom: 20px;
    }
    .contact-desc {
        font-size: 15px;
        text-align: left;
        margin-bottom: 10px;
    }
    .result-title {
        font-size: 25px;
        font-weight: bold;
        color: #20A139;
        text-align: left;
        margin-bottom: 20px;
    }
    .result-desc {
        font-size: 15px;
        text-align: left;
        margin-bottom: 10px;
    }
}
