#application {
    padding: 100px 0;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: #20A139;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
        margin-bottom: 70px;

    }
    .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin-bottom: 25px;
    }
    img{
        width:100%;
    }
    
}
