#contact {
    padding: 150px 0;
    background-color: #222;
    background-image: url(/static/build/img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }
    .section-subheading {
        margin-bottom: 75px;
        text-transform: none;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }
    .form-group {
        input.form-control {
            padding: 20px;
            height: auto;
        }
        textarea {
            height: 236px;
        }
    }
    .btn-xl {
        padding: 20px 40px;
        border-color: @brandcolor;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background-color: @brandcolor;
    }
    .btn-xl:hover {
        background-color: @hovercolor;
        border-color: @hovercolor;
    }
}