//#header {
//    nav {
//        padding: 10px 0;
//        background: transparent;
//        border-color: transparent;
//    }
//    .navbar-brand {
//        color: @brandcolor;
//    }
//    ul {
//        li {
//            a {
//                text-transform: uppercase;
//                font-weight: 400;
//                letter-spacing: 1px;
//            }
//            a:hover {
//                color: @brandcolor;
//            }
//        }
//        .active {
//            a {
//                border-radius: 6px;
//                background-color: @brandcolor;
//            }
//            a:hover {
//                color:white;
//                background-color: @hovercolor;
//            }
//        }
//    }
//    .navbar-shrink {
//        // padding: 10px 0;
//        background-color: #222;
//    }
//}

#header nav {
  padding: 10px 0;
  background: transparent;
  border-color: transparent;
}
#header .navbar-brand {
  color: #FE9436;
}
#header ul li a {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
#header ul li a:hover {
  color: #FE9436;
}
#header ul .active a {
  border-radius: 6px;
  background-color: #FE9436;
}
#header ul .active a:hover {
  color: white;
  background-color: #FD7700;
}
#header .navbar-shrink {
  background-color: #222;
}