#login {
    float: none;
    margin: 0 auto;
    position: relative;
    top: 140px;
    width: 380px;
    .frame {
        border-radius: 6px;
        background: #222 !important;
        margin: 0 0 5px;
        width: 100%;
        .head {
            font-size: 18px;
            padding: 5px 10px 7px;
            font-weight: bold;
            padding-top: 35px;
            border: 1px solid #111;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            color: white;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #222222));
            background-image: -moz-linear-gradient(#333333, #222222);
            background-image: -webkit-linear-gradient(#333333, #222222);
            background-image: linear-gradient(#333333, #222222);
        }
        .title {
            padding: 5px 11px 4px;
            border-top: 0;
            border-bottom: 0;
            border-left: 1px solid #2c8eaf;
            border-right: 1px solid #2c8eaf;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb2d3), color-stop(100%, #309bbf));
            background-image: -moz-linear-gradient(#4fb2d3, #309bbf);
            background-image: -webkit-linear-gradient(#4fb2d3, #309bbf);
            background-image: linear-gradient(#4fb2d3, #309bbf);
        }
        .form {
            border: 1px solid #ccc;
            border-top: 1px solid #f6f6f6;
            -moz-border-radius-topleft: 0;
            -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -moz-border-radius-topright: 0;
            -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
            background: #eee;
            padding: 5px 10px;
            .form-group {
                margin-bottom: 5px;
            }
            .label {
                color: black;
            }
            .form-control {
                height: 25px;
                margin-bottom: 5px;
            }
        }
    }
    .alert-danger {
        display: none;
    }
    .alert-warning {
        display: none;
    }
}