#main {
    padding: 100px 0;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: normal;
//        color: #20A139;
        color:black;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        font-size: 20px;
        font-weight: 700;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
    }
    .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .main-img{
        width:100%;
    }
}
