#portfolio {
    background-color: @background;
    padding: 150px 0;
    .section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .section-subheading {
        margin-bottom: 75px;
        text-transform: none;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }
    .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(254, 209, 54, .9);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
    .portfolio-caption {
        margin: 0 auto;
        padding: 25px;
        max-width: 400px;
        text-align: center;
        background-color: #fff;
    }
    .portfolio-item {
        margin: 0 0 30px;
    }
    .portfolio-hover-content {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
    .portfolio-link {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
    }
    .portfolio-hover:hover {
        opacity: 1;
    }
    .portfolio-modal {
        // .close-modal {
        //     position: absolute;
        //     top: 25px;
        //     right: 25px;
        //     width: 75px;
        //     height: 75px;
        //     background-color: transparent;
        //     cursor: pointer;
        //     .lr {
        //         z-index: 1051;
        //         width: 1px;
        //         height: 75px;
        //         margin-left: 35px;
        //         background-color: #222;
        //         -webkit-transform: rotate(45deg);
        //         -ms-transform: rotate(45deg);
        //         transform: rotate(45deg);
        //         .rl {
        //             z-index: 1052;
        //             width: 1px;
        //             height: 75px;
        //             background-color: #222;
        //             -webkit-transform: rotate(90deg);
        //             -ms-transform: rotate(90deg);
        //             transform: rotate(90deg);
        //         }
        //     }
        // }
        .modal-content {
            // padding: 100px 0;
            min-height: 100%;
            border: 0;
            border-radius: 0;
            text-align: center;
            background-clip: border-box;
            -webkit-box-shadow: none;
            box-shadow: none;
            h2 {
                margin-bottom: 15px;
                font-size: 3em;
                text-transform: uppercase;
                font-weight: 700;
            }
            p.item-intro {
                margin: 20px 0 30px;
                font-size: 16px;
                font-style: italic;
            }
            img {
                margin-bottom: 30px;
            }
        }
    }
    .img-centered {
        margin: 0 auto;
    }
    .btn-primary {
        background-color: @brandcolor;
        text-transform: uppercase;
        font-weight: 700;
    }
    .btn-primary:hover {
        background-color: @hovercolor;
    }
}