#vision {
    padding: 100px 0;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: #20A139;
        text-align: center;
    }
    .subtitle {
        margin-top: 0;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        color: #9A9A9A;
        text-align: center;
    }
    .line {
        height: 20px;
        width: 20px;
        border-bottom: 2px solid black;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .vision {
        background: url("/static/build/img/vision-bg.jpg") no-repeat center;
        background-size: 100%;
        height: 600px;
        display: table;
        .vision-text {
            display: table-cell;
            vertical-align: middle;
            background-color: rgba( 255, 255, 255, 0.7);
        }
        .vision-title {
            font-size: 25px;
            font-weight: bold;
            color: #20A139;
            text-align: center;
            margin-bottom: 10px;
        }
        .vision-desc {
            font-size: 20px;
            padding-left: 10px;
            color: black;
            text-align: center;
        }
    }
    .core {
        .core-main {
            margin-top: 60px;
            margin-bottom: 70px;
            font-size: 25px;
            font-weight: bold;
            color: #20A139;
            text-align: center;
        }
        .core-img {
            height: 350px;
            margin-top: 50px;
            background: url(/static/build/img/corevalue.png) no-repeat top;
            background-size: 95%;
        }
        .core-title {
            font-size: 20px;
            color: black;
            text-align: left;
            font-weight: bold;
            padding-left: 10px;
            margin-bottom: 10px;
            border-left: 10px solid #C0E2BA;
        }
        .core2 {
            border-left: 10px solid #C0DC81;
        }
        .core3 {
            border-left: 10px solid #78C687;
        }
        .core-desc {
            font-size: 15px;
            padding-left: 10px;
            font-weight: normal;
            color: black;
            padding-left: 20px;
            text-align: left;
            margin-bottom: 40px;
        }
    }
    img {
        width: 260px;
    }
}
