@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family:'Noto Sans KR',sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}