@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
    font-family: 'Playfair Display', serif;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}